In [964]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer as imp
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [965]:
data=pd.read_csv(r"C:\Users\ajmal\Downloads\car_age_price.csv")

In [966]:
data.describe()

              Year          Price
count   112.000000     112.000000
mean   2016.669643  483866.044643
std       1.629616   91217.450533
min    2013.000000  300000.000000
25%    2015.000000  423750.000000
50%    2017.000000  500000.000000
75%    2017.000000  550000.000000
max    2020.000000  755000.000000

In [967]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   Price   112 non-null    int64
dtypes: int64(2)
memory usage: 1.9 KB

In [968]:
data.head(10)
df = data.sort_values(by = 'Year')
df

    Year   Price
53  2013  345000
52  2013  345000
50  2013  325000
73  2013  320000
81  2014  390000
..   ...     ...
10  2019  500000
99  2020  600000
98  2020  700000
39  2020  545000
97  2020  640000

[112 rows x 2 columns]

In [969]:
ss= StandardScaler()
x=df.drop(['Price'],axis=1)
y=df['Price']

In [970]:
y

53    345000
52    345000
50    325000
73    320000
81    390000
       ...
10    500000
99    600000
98    700000
39    545000
97    640000
Name: Price, Length: 112, dtype: int64

In [971]:
x

    Year
53  2013
52  2013
50  2013
73  2013
81  2014
..   ...
10  2019
99  2020
98  2020
39  2020
97  2020

[112 rows x 1 columns]

In [972]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 0 ) 
#splitting the dataset to test and train model

In [973]:
#ss=StandardScaler() #standardising the dataset

In [974]:
#x_train=ss.fit_transform(x_train)

In [975]:
#x_test=ss.transform(x_test)

In [976]:
x_train

    Year
7   2017
21  2019
36  2017
45  2018
70  2015
..   ...
99  2020
19  2017
57  2017
92  2017
83  2017

[100 rows x 1 columns]

In [977]:
x_test

     Year
111  2015
71   2017
77   2015
23   2017
1    2019
58   2014
42   2018
50   2013
11   2018
48   2016
60   2015
25   2017

In [978]:
lr=LinearRegression().fit(x_train,y_train) #fitting into linear regression model

In [979]:
y_train_pred=lr.predict(x_train)

In [980]:
y_test_pred=lr.predict(x_test)

In [981]:
mean_squared_error(y_test,y_test_pred) #mean squared error for linear regression

5150800688.534407

In [982]:
r2_score(y_test,y_test_pred) #r2 score for linear regression

0.5873297782136901

In [983]:
lr.score(x_train,y_train)

0.6044695140869094

In [984]:
lr.score(x_test,y_test)

0.5873297782136901

In [985]:
lasso=Lasso().fit(x_train,y_train) #fitting to lasso

In [986]:
lasso.score(x_train,y_train)

0.6044695140363606

In [987]:
lasso.score(x_test,y_test)

0.5873288158885723

In [988]:
lasso_y_test_pred=lasso.predict(x_test)

In [989]:
mean_squared_error(y_test,lasso_y_test_pred)  #mean squared error for lasso regression

5150812699.92902

In [990]:
r2_score(y_test,lasso_y_test_pred) #r2 value for lasso regression

0.5873288158885723